In [1]:
import numpy as np
import pandas as pd

In [2]:
my_list=[56,57,68,90]
pd.Series(data=my_list)

0    56
1    57
2    68
3    90
dtype: int64

In [4]:
my_list=[56,57,68,90]
labels=['f','g','e','a']

s1=pd.Series(data=my_list,index=labels)
s1['f']

56

In [5]:
pd.Series(data=my_list,index=labels)

f    56
g    57
e    68
a    90
dtype: int64

In [6]:
my_list=[56,57,68,90]
labels=['f','g','e','a']
d={'name':['prerna','sdf','r'],'roll':123}
s1=pd.Series(data=d)
print(s1)

name    [prerna, sdf, r]
roll                 123
dtype: object

In [7]:
my_list=[56,57,68,90]
labels=['f','g','e','a']
arr1=np.array(my_list)
pd.Series(arr1,labels)

f    56
g    57
e    68
a    90
dtype: int32

In [10]:
datas=[1,2,3,4]
labels=['USA','Germany','USSR','Japan']
ser1=pd.Series(datas,labels)

datas=[10,20,30,40]
labels=['USA','India','USSR','Japan']
ser2=pd.Series(datas,labels)
ser1+ser2

Germany     NaN
India       NaN
Japan      44.0
USA        11.0
USSR       33.0
dtype: float64

In [13]:
#####################################DAYA FRAME########################################################

In [23]:
import random

df=pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())
df

          W         X         Y         Z
A -1.467514 -0.494095 -0.162535  0.485809
B  0.392489  0.221491 -0.855196  1.541990
C  0.666319 -0.538235 -0.568581  1.407338
D  0.641806 -0.905100 -0.391157  1.028293
E -1.972605 -0.866885  0.720788 -1.223082

In [24]:
df['W']

A   -1.467514
B    0.392489
C    0.666319
D    0.641806
E   -1.972605
Name: W, dtype: float64

In [25]:
df[['W','Z']]

          W         Z
A -1.467514  0.485809
B  0.392489  1.541990
C  0.666319  1.407338
D  0.641806  1.028293
E -1.972605 -1.223082

In [26]:
type(df['W'])

pandas.core.series.Series

In [28]:
df['new']=df['W']+df['Z']
df

          W         X         Y         Z       new
A -1.467514 -0.494095 -0.162535  0.485809 -0.981705
B  0.392489  0.221491 -0.855196  1.541990  1.934479
C  0.666319 -0.538235 -0.568581  1.407338  2.073658
D  0.641806 -0.905100 -0.391157  1.028293  1.670099
E -1.972605 -0.866885  0.720788 -1.223082 -3.195687